.wrap{
	display: flex;
	flex-direction: column;
	justify-content:  center;
	flex-wrap: wrap;
	height: auto;
}
.wrap .contacts .photo-contacts{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.pan{
	display: flex;
	flex-direction: row;
	justify-content:  center;
}
#zakhar img{
	width: 100%;
}
@media (max-width: 655px) {
    #zakhar {
        width: 100%;
    }
}
.wrap .contacts .photo-contacts .img-contacts{
	margin: 10px;
	flex-basis: 300px;
}
.wrap .contacts .photo-contacts .text-contacts{
	margin: 10px;
	flex-basis: 300px;
	text-align: justify;
}
.wrap .contacts .photo-contacts .text-contacts p{
	margin: 0;
	padding: 0;
}
#phone img{
	width: 15px;
	margin: 10px 0;
	padding: 0 10px 0 0;
}
.wrap .contacts .title-contacts{
	display: flex;
	justify-content: center;

}
.wrap .contacts ul li{
	display: inline-block;
}
/*FORM*/
.form{
	display: flex;
	justify-content: center;
	margin: 50px 0 -10px 0;
}
form {
	width: 560px;
	height: auto;
	background-color: #F6F6F6;
	display: flex;
	flex-direction: column;
}
.input{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
}
.dws-input{
	display: flex;
	flex-direction: column;
}
input[type="text"], input[type="email"]{
	width: 250px;
	height: 50px;
	margin: 10px;
}
textarea {
	width: 250px;
	height: 120px;
	margin: 10px;
}
.button{
	display: flex;
	justify-content: flex-start;
	margin: 10px 20px;
	padding: 0 0 10px 0;
}







