body {
    background: #fff;
    margin: 0 auto;
}
a {
    text-decoration: none;
}


/*Header*/


header{
    padding: 34px 0;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 30px;
    position: relative;
}
.logo{
    margin-bottom: 15px;
    text-align: center;
    display: block;
    padding: 0 0 0 25px ;
    margin: 0;
}
.menu{
    text-align: center;
}
header nav.menu ul li{
    display: inline-block;
}
header nav.menu .menu-item {
    position: relative;
    padding: 0 7px;
    margin: 0 5px;
}
header nav.menu .menu-item.separator:last-child {
    display: none;
}


/*Header END*/

/*Welcome*/
section.welcome{
    position: relative;
    width: 900px;
    margin: 50px auto;
    padding: 25px 75px;
}
main section.welcome div.title ul{
    padding-left: 90px;
}
main section.welcome div.title ul li{
    display: inline-block;
}
main section.welcome div.title .title-item{
    position: relative;
    padding: 0 7px;
    margin: 0 5px;
}
section.feedback{
    position: relative;
    width: 900px;
    margin: 10px auto;
    padding: 25px 75px 25px 0;
}
main section.feedback div.title{
    padding-left: 0;
}
main section.feedback div.title ul li{
    display: inline-block;
}
main section.feedback div.title .title-item{
    position: relative;
    padding: 0 7px;
    margin: 0 5px;
}
h3{
    text-align: center;
}
.text-feedback{
    margin: 0 auto;
    padding: 10px 75px 10px 150px;
    text-align: center;
}
.title{
    text-align: center;
}


/*Welcome END*/
/* Footer */
footer {
    background: #fff;
    padding: 40px 0;
    text-align: center;
}
.widget-social li {
	display: inline-block

}
.widget-social {
    padding: 0 40px;
}

/* Footer END*/